@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';

.color-nuevo {
    width: 150px;
    height: 3px;
    background: rgba(47, 201, 124, 0.867);
    padding: 10px;
}
.video-mask {
    position: relative;
    top: 2rem;
    bottom: 2rem;
    width: 75%;
    height: 250px;
    border-radius: 10px; 
    overflow: hidden;
}

/*  +++++++++++++++++++++++++++++++++++++++++++++++++++++  */

#principal {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
#player {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    position: abosulte;
    z-index: 3;
}
#movie {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 5;
}
#btn-play-inicio {
    position: absolute;
    top:40%;
    left:45%;
    background-color: none;
    color:#ffd200;
    text-align: center;
    opacity: 80%;
    z-index: 7;
    width: 11vw;
    height: 11vw;
    font-size: calc(7vw + 1em);
    font-weight: bold;
    cursor: pointer;
}

#controls-video {
    position:relative;
    width: 100%;
    height: 100%;
    z-index: 7;
    top: -2rem;
}

.controls-video-transition {
    opacity:100;
    filter:alpha(opacity=0);
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  
#quitar {
    visibility:collapse;
}

input[type='range'] {
    -webkit-appearance: none !important;
    height: 3px;
    box-shadow: 0px 1px 3px 1px black;
    border-block:unset;
    cursor: default;
    background: rgb(231, 174, 174);
    opacity: 85%;
}

#bar-duration {
    background: linear-gradient(90deg, rgb(253, 253, 253) 60%, rgb(243, 158, 78) 40% );
    width: 100%;
    z-index: 1;
}
#tiempo {
    z-index: 2;
    position: relative;
    left: 0;
    top: 0;
    width: 3em;
    background-color: aqua;
    font-size: 0.5em;
}

#bar-duration:hover {
    opacity: 70%;
    cursor: pointer; /*url(pin.cur) 8 8, auto;*/    
}
#bar-duration::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    appearance: none;
    background: rgb(116, 243, 42);
    height: 3vh;
    width: 1vw;
    border-radius: 30%;
    cursor:progress;
}

#bar-volume {
    width: 80%;
}
#bar-volume::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    height: 23px;
    width: 23px;
    cursor: pointer;
    z-index: 2;
    position: relative;
}

#selector-volume {
    position: relative;
    bottom: 1vh;
    transform: translate(-0%);
    z-index: 5;
}

.selector-volume-Btn {
    /*height: 2.5vh;
    width: 2.5vw;*/
    height: 23px;
    width: 23px;
    background-image: url(compass.png);
    background-size: cover;
    background-position:bottom;
    border-radius: 50%;
    position:absolute;
    bottom: 0;
    z-index: 4;
}

#selector-volume-value {
    height: 22px;
    width: 28px;
    position:absolute;
    top: 0;
    background: #ffd200;
    border-radius: 4px;
    text-align: center;
    line-height: 20px;
    font-size: 0.6rem;
    font-weight: bold;
}
#selector-volume-value::after {
    content: '';
    border-bottom: 20px solid #ffd200;
    border-left: 14px solid rgba(172, 172, 172, 0.5);
    border-right: 14px solid rgba(172, 172, 172, 0.5);
    position: absolute;
    top: -21px;
    left: 0;
}

#buttonPlay, #buttonSkipLess, #buttonSkipPlus {
    width: 7%;
    font-size: 0.8em;
    font-weight: bold;
}

#buttonMute, #buttonScreen {
    width: 6%;
}